.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ebebebeb; /* Slightly adjusted for better readability */
}

.registration-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Added a subtle shadow */
  width: 422px;
}

.registration-form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: 'Inter', sans-serif; /* Assuming Inter is available */
  font-weight: 700;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #818181;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  font-size: 16px;
}

.form-group button {
  background-color: #007bff; /* Example button color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

